<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"  type="text/Css" href="StyleRel.css"> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <meta charset="utf-8">
            <title>טופס הרשמה למרכז</title>
            <script src="./formValidating.js"></script>
            <script src="./school-complete.js"></script>
            <style>
                    h1 {
                        text-align: center;
                    }
                    
                    /*form {
                        text-align: center;
                    }*/
                    span.error {
                        color: red;
                        margin: 0 .5em;
                        direction: rtl;
                        width: 100%;
                        /* line-height: 5pt; */
                    }
            </style>
        </head>

        <body>

                <div class="box-1">
                    <p class="title">נערים חדשים בבר? <span class="orangeTxt">איזה כיף!</span></p>
                    <p class="txt">מהיום אפשר להיכנס לבר ולהירשם בשניות!</p>
                    <p class="note">רק כמה פרטים וסיימנו... אפשר לערוך את הפרטים תמיד.</p>
                </div>
   
        <div id="error" class="error" >           
        </div>

        <main>
            <form method="POST" name="form" onsubmit="return formValidation();" action="./register" dir="rtl">
            <section>
                <div>
                    <label >שם פרטי</label>
                    <input autocomplete="none" type="text"id="firstName" name="firstName" >
                    <span id="error1" class="error" ></span>
                </div>
                <div>
                    <label>שם משפחה</label> 
                    <input autocomplete="off" type="text" name="lastName" id = "lastName">
                    <span id="error2" class="error"></span>
                </div>
            </section>
            <section>
                <div>
                    <label>כיתה</label>
                    <select type="text" name="class" id="class">
                            <option value="1">ז'</option>
                            <option value="2">ח'</option>
                            <option value="3">ט'</option>
                            <option value="4">י'</option>
                            <option value="5">י"א</option>
                            <option value="6">י"ב</option>
                    </select>
                    <span id="error4" class="error"></span>
                </div>
                <div class="autocomplete">
                        <label>בית ספר</label>
                        <input autocomplete="off" type="text" autocomplete="off" name="school" id="school">
                        <span id="error3" onclick="noSchool()" class="error"></span>
                    </div>
            </section>
            <section>
                <div>
                    <label>טלפון נייד <span class="optional">לא חובה</span></label>
                    <input autocomplete="off" type="tel" id="phone" name="phone" maxlength="10">
                    <span id="error5" class="error" ></span>
                </div>
                <div>
                    <label>תעודת זהות <span class="optional">לא חובה</span></label> 
                    <input autocomplete="off" type="number" id="ID" name="ID" min="0"> 
                    <span id="error6" class="error" ></span>
                </div>
            </section>
            <section>
                <div>
                    <label>שם הורה</label>
                    <input autocomplete="off" type="text" id="parentName" name="parentName"> 
                    <span id="error7" class="error" ></span>
                </div>
                <div>        
                    <label>טלפון הורה</label>
                    <input autocomplete="off" type="text" type="tel" id="parentPhone" name="parentPhone" maxlength="10">
                    <span id="error8" class="error" ></span>
                </div>
            </section>

    <section>
        <input autocomplete="off" type="hidden" id="noSchool" value="">
        <input autocomplete="off" class="btn" type="submit" value="אל הבר ומעבר לו!" name="send"> 
    </section>
      <!-- <input autocomplete="off" class = "leftLine4"  type="reset" value="איפוס" name="reset"> -->
    
    </form>
</main>
    
    </body>
</html>    


