<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"  type="text/Css" href="StyleRel.css"> 
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <meta charset="utf-8">
            <title>טופס הרשמה למרכז</title>
            <script src="./formValidating.js"></script>
            <script src="./school-complete.js"></script>
            <style>
                    h1 {
                        text-align: center;
                    }
                    
                    /*form {
                        text-align: center;
                    }*/
    
                    div.error {
                        color: red;
                        font-weight: bold;
                        direction: rtl;
                    }
            </style>
        </head>

        <body>

                <div class="box-1">
                    <p class="title">נערים חדשים בבר? <span class="orangeTxt">איזה כיף!</span></p>
                    <p class="txt">מהיום אפשר להיכנס לבר ולהירשם בשניות!</p>
                    <p class="note">רק כמה פרטים וסיימנו... אפשר לערוך את הפרטים תמיד.</p>
                </div>
   
        <div id="error" class="error" hidden>           
        </div>

        <main>
            <form method="POST" name="form" onsubmit="return formValidation();" action="./register" dir="rtl">
            <section>
                <div>
                    <label >שם פרטי</label>
                    <input type="text"id="firstName" name="firstName" >
                </div>
                <div>
                    <label>שם משפחה</label> 
                    <input type="text" name="lastName" id = "lastName">
                </div>
            </section>
            <section>
                <div>
                    <label>כיתה</label>
                    <select type="text" name="class" id="class">
                            <option value="1">ז'</option>
                            <option value="2">ח'</option>
                            <option value="3">ט'</option>
                            <option value="4">י'</option>
                            <option value="5">י"א</option>
                            <option value="6">י"ב</option>
                    </select>
                </div>
                <div class="autocomplete">
                        <label>בית ספר</label>
                        <input type="text" autocomplete="disabled" name="school" id="school">
                    </div>
            </section>
            <section>
                <div>
                    <label>טלפון נייד <span class="optional">לא חובה</span></label>
                    <input type="tel" id="parentPhone" name="parentPhone" maxlength="7">
                </div>
                <div>
                    <label>תעודת זהות <span class="optional">לא חובה</span></label> 
                    <input type="number" id="ID" name="ID" min="0"> 
                </div>
            </section>
            <section>
                <div>
                    <label>שם הורה</label>
                    <input type="text" id="parentName" name="parentName"> 
                </div>
                <div>        
                    <label>טלפון הורה</label>
                    <input type="text" type="tel" id="parentPhone" name="parentPhone" maxlength="7">
                </div>
            </section>

    <section>
        <input type="hidden" id="noSchool" value="">
        <input class="btn" type="submit" value="אל הבר ומעבר לו!" name="send"> 
    </section>
      <!-- <input class = "leftLine4"  type="reset" value="איפוס" name="reset"> -->
    
    </form>
</main>
    
    </body>
</html>    


